body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}



.btn {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 40px
}


#screen {
    width: 300px;
    border: 1px solid black;
    height: 75px;
    margin: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous {
    font-size: 20px;

}

.current {
    font-size: 30px;
}